{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}


{% block page_product_detail_product_buy_button %}
    <div class="d-grid">
        <button class="btn btn-buy"
                title="{{ "listing.boxAddProduct"|trans|striptags }}"
                data-add-to-cart-text="{{ "ShopFeedback.Button.Text.Used"|trans|sw_sanitize }}">
            {{ "listing.boxAddProduct"|trans|striptags }}
        </button>
    </div>
{% endblock %}