<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Configuration</title>
        <title lang="de-DE">Einstellungen</title>
        <input-field type="colorpicker">
            <name>ShopFeedbackButtonColor</name>
            <label>Pressed button color</label>
            <label lang="de-DE">Farbe des gedrückten Knopfes</label>
            <placeholder>#595959</placeholder>
            <defaultValue>#595959</defaultValue>
            <css>css-shop-feedback-button-color-pressed</css>
        </input-field>
        <input-field type="colorpicker">
            <name>ShopFeedbackTextColor</name>
            <label>Pressed text color</label>
            <label lang="de-DE">Farbe des Textes bei gedrückten Knopfes</label>
            <placeholder>#FFFFFF</placeholder>
            <defaultValue>#FFFFFF</defaultValue>
            <css>css-shop-feedback-text-color-pressed</css>
        </input-field>
    </card>
</config>