{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button %}
    <div class="d-grid">
        <button class="btn btn-primary btn-buy"
                title="{{ "detail.addProduct"|trans|striptags }}"
                aria-label="{{ "detail.addProduct"|trans|striptags }}"
                data-add-to-cart-text="{{ "ShopFeedback.Button.Text.Used"|trans|sw_sanitize }}">
            {{ "detail.addProduct"|trans|sw_sanitize }}
        </button>
    </div>
{% endblock %}